name: GitHub Stats Generator

on:
  schedule:
    - cron: "0 0 * * *"   # daily
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: saifyali05
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kolkata
          filename: metrics.svg
          output_action: commit
